<!-- Start table berita dan artikel -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#add-modal">
            Tambah Galeri Video
        </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table
                class="table table-bordered"
                id="dataTable"
                width="100%"
                cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Link</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% let count = 1; %> <% videos.forEach(video => { %>
                    <tr class="border border-black">
                        <td><%= count %></td>
                        <td><%= video.link %></td>
                        <td>
                            <a
                                class="btn btn-warning btn-circle btn-sm button-update"
                                href="javascript:void(0)"
                                type="button"
                                data-id="<%= video._id %>"
                                data-link="<%= video.link %>"
                                ><i class="fas fa-edit"></i
                            ></a>
                            <form
                                action="/admin/video/<%= video._id %>?_method=delete"
                                method="POST">
                                <button
                                    type="submit"
                                    class="btn btn-danger btn-circle btn-sm">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    <% count++; %> <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
